<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861695388348-8t5bcuovr9t8rq5d2gf0lnblrvofglbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861695388348-8t5bcuovr9t8rq5d2gf0lnblrvofglbg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861695388348-k3shjog7ab8ctmcaegem60jvo4g7nnft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdpj5IaOv1EXjI7HRB2bJXzWf1aLfrshQ</string>
	<key>GCM_SENDER_ID</key>
	<string>861695388348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.momentoapp.app</string>
	<key>PROJECT_ID</key>
	<string>memento-japanese</string>
	<key>STORAGE_BUCKET</key>
	<string>memento-japanese.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861695388348:ios:d216cdbb6f60f7045c7eb9</string>
</dict>
</plist>